@tailwind base;


@layer base {
    table{

        table-layout: fixed;
         /* border-collapse: separate;  */
        border-spacing: 0 15px;
    }
    tr{
        @apply py-[10px] border-b-[1px] border-b-[#d9d9d9];
        /* border-bottom: 1px  #D9D9D9 solid;+++ */
        /* /* padding: 10px 0;+,,,,, */
    }
    td{
        /* @apply py-[10px] pl-[0] pr-[30px] ['word-break': break-all]; */
        padding: 10px 30px 10px 0;
        word-break: break-all
    }
    .circle {

        width: 6px;
        height: 6px;
        border-radius: 50%;
        background-color: #fff;
        animation: move 500ms linear 0ms infinite;
        margin-right: 30px;
    }
    @keyframes move {
        from {transform: translateX(0px)}
        to {transform: translateX(45px)}
      }
}

@tailwind components;
@tailwind utilities;